body {
  padding: 0;
  margin: 0; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background: #5306C7;
  color: white; }
  .card__Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .card__Logo .card__Description {
      width: 250px; }
    .card__Logo h1 {
      font-family: "Yellowtail", cursive; }
    .card__Logo p {
      font-family: "Oswald", cursive; }
  .card__Navegation {
    margin-left: 10px;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .card__Navegation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0;
      margin: 0; }
      .card__Navegation ul li {
        list-style: none;
        margin-bottom: 10px; }
        .card__Navegation ul li a {
          color: white;
          text-decoration: none;
          font-family: "Oswald", cursive; }
