// Colors Page Start
// --------------------------
$color-primary : #8105D8;
$color-secondary: #ED0CEF;
$color-darken: #3B064D;
$color-lithen:#FE59D7;
// --------------------------
// Colors Page End

// Tipographi Start
// -------------------------
$Fuente-logo: 'Yellowtail',
cursive;
$Fuente-description: 'Oswald',
cursive;
$Fuente-secondary: 'Lato',
cursive;
// -------------------------
// Tipographi end

body {
  padding: 0;
  margin: 0;
}