//  ██████╗ ██╗      ██████╗ ██████╗  █████╗ ██╗     ███████╗███████╗
//  ██╔════╝ ██║     ██╔═══██╗██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
//  ██║  ███╗██║     ██║   ██║██████╔╝███████║██║     █████╗  ███████╗
//  ██║   ██║██║     ██║   ██║██╔══██╗██╔══██║██║     ██╔══╝  ╚════██║
//  ╚██████╔╝███████╗╚██████╔╝██████╔╝██║  ██║███████╗███████╗███████║
//   ╚═════╝ ╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝

// -----------------------------Colors Start
$color-primary: #eea5f6;
$color-secondary: #df42d1;
$color-Dark: #0c093c;
$color-light: #fad6d6;
// -----------------------------Colors End

// -----------------------------Typo Start
$Fuente-Logo:"Lobster",
cursive;
$Fuente1: "Oswald",
sans-serif;
$Fuente2: "Lato",
sans-serif;
// -----------------------------Typo End