// Colors Page Start
// --------------------------
$color-primary : #5306C7;
$color-secondary: #9852F9;
$color-lithen:#9B7ACA;
// --------------------------
// Colors Page End

// Tipographi Start
// -------------------------
$Fuente-logo: 'Yellowtail',
cursive;
$Fuente-description: 'Oswald',
cursive;
// -------------------------
// Tipographi end

body {
  padding: 0;
  margin: 0;
}