.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background: $color-primary;
  color: white;

  &__Logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .card__Description {
      width: 250px;
    }

    h1 {
      font-family: $Fuente-logo;
    }

    p {
      font-family: $Fuente-description;
    }
  }

  &__Navegation {
    margin-left: 10px;
    // justify-self: flex-start;
    align-self: flex-start;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        margin-bottom: 10px;

        a {
          color: white;
          text-decoration: none;
          font-family: $Fuente-description;
        }
      }
    }
  }
}