.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #8A2387;
  background: -webkit-linear-gradient(to right, #F68523, #F6321F, #6B4D88);
  background: linear-gradient(to right, #F68523, #F6321F, #6B4D88);
  color: white;

  &__navegation {
    display: flex;
    justify-content: center;
  }

  &__logo h2 {
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
  }

  &__enlaces {
    width: 500px;
    display: flex;
    align-items: center;
  }

  &__enlaces ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__enlaces ul li {
    // display: flex;
    list-style: none;
  }

  &__enlaces ul li a {
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    color: white;
    text-decoration: none;
  }

  &__search {
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      color: cadetblue;
      border: none;
      border-radius: 2px;
    }
  }

}